{% extends '::layout.html.twig' %}

{% block title %}{{ category.title }} / {{ parent() }}{% endblock %}

{% block meta_description %}{{ category.metaDescription }}{% endblock meta_description %}
{% block meta_keywords %}{{ category.metaKeywords }}{% endblock meta_keywords %}

{% block content_wrapper %}
    <section class="services-tabs">
        <h1>{{ "Чем мы занимаемся"|trans }}</h1>
        <div class="service-links-wrap">
            <ul class="services-links">
                <li class="active">
                    <h2><a href="#">Программирование веб-сайтов</a></h2>
                </li>
                <li>
                    <h2><a href="#">Консалтинг и аудит</a></h2>
                </li>
                <li>
                    <h2><a href="#">Дизайн сайтов и интерфейсов</a></h2>
                </li>
                <li>
                    <h2><a href="#">Мобильная разработка</a></h2>
                </li>
                <li>
                    <h2><a href="#">Создание мобильных игр</a></h2>
                </li>
            </ul>
        </div>
        <div class="services-description">
            <div class="services-img img-1"></div>
            <p>
                Работы по программированию для веба осуществляются в отделе без названия, представители которого говорят: «Мы делаем то, что напридумывают все остальные отделы. Сайты, системы, страницы-заглушки, RFID-няшки, html-письма, приложения, странички в соцсетях. Все программирование (клиентские, сервисное, разработка интерактивных проектов) лежит на наших плечах. Мы делаем то, чего никто не видит. И оно работает».
            </p>
        </div>
        {#<ul class="services-features">#}
            {#<li>#}
                {#<h3>Cложные сайты с нестандартной функциональностью</h3>#}
                {#<p>Cайт, приложение или игра не заработают, пока к ним не подступится программист cо знанием HTML/CSS/JS, ActionScript. Если говорить о работах по отправке, обработке и получению данных (сборе адресов, пополнении баз данных, активации промокодов), тут тоже нужно написать ряд латинских букв — PHP, ASP, nodeJS.</p>#}
            {#</li>#}
        {#</ul>#}
        <ul class="tab-nav">
            {% for c in categories %}
                <li>
                    <h2>
                        {% if c.id == category.id %}
                            {{ c.name }}
                        {% else %}
                            <a href="{{ path('portfolio_categories_list', {'slug': c.slug }) }}">
                                {{ c.name }}
                            </a>
                        {% endif %}
                    </h2>
                </li>
            {% endfor %}
        </ul>
        {#<div class="tab-content-wrapper">#}
            <div class="services-img img-{{ category.ordernum }}"></div>
            <div id="{{ category.slug }}" class="tab-content" style="display: block !important;">
                <a class="tab-title">{{ category.name }}</a>
                <div class="accordion-wrapper">
                    <div class="tab-text">
                        {{ category.description | raw }}
                    </div>
                    <div class="price">
                        {{ "Стоимость проекта %wrap_start%от %price% $%wrap_end%"|trans({'%price%': category.cost, '%wrap_start%': '<span>', '%wrap_end%': '</span>'})|raw }}
                    </div>
                    <a class="show-in-portfolio" href="{{ path('portfolio_category_view', {'slug': category.slug}) }}">
                        <span class="arrow-btn"></span>
                        <span>{{ "посмотреть примеры проектов %project%"|trans({'%project%': linkTexts[category.slug] | default('') | trans }) }}</span>
                    </a>
                </div>
            </div>
        {#</div>#}
    </section>
{% endblock %}
